$_primary: #828d9a;
$_secondary: #a9b1bb;
$_info: #2d313b;
$_success: #5ca566;
$_warning: #da952e;
$_danger: #f44336;
$_ligth: #f1f1ee;

$primary: $_primary;
$secondary:$_secondary;
$info: $_info;
$success: $_success;
$warning: $_warning;
$danger: $_danger;
$ligth:$_ligth;
