@forward "../03_generic/generic";
@use "../01_settings/colors" as col;
@use "../01_settings/layout" as lay;
@use "../01_settings/fonts" as fnt;
@use "../01_settings/borders" as bor;


::selection {
  background-color: col.$warning;
}

html {
  font-family: fnt.$text-font;
}

body {
  max-width: lay.$page-max-size;
  color: col.$info;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fnt.$header-font;
  margin-bottom: lay.$general-margin-bottom;
}

h1 {
  font-size: fnt.$h1;
  font-weight: 700;
}

h2 {
  font-size: fnt.$h2;
  font-weight: 600;
}

h3 {
  font-size: fnt.$h3;
  font-weight: 500;
}

h4 {
  font-size: fnt.$h4;
  font-weight: 400;
}

h5 {
  font-size: fnt.$h5;
  font-weight: 400;
}

h6 {
  font-size: fnt.$h6;
  font-weight: 400;
}

p {
  font-size: fnt.$text;
  margin-bottom: lay.$general-margin-bottom;
}

a {
  font-size: fnt.$text;
  &:hover {
    color: col.$primary;
  }
  &:active {
    color: col.$primary;
  }
}

code {
  white-space: pre;
}

input {
  border-radius: bor.$radius-small;
  border: 1px solid bor.$border-color;
  padding: .44rem;

  &:focus {
    border: bor.$border-focus;
  }

  &:disabled {
    background: col.$secondary;
    color: col.$primary;
  }
}

button{
  margin-bottom: lay.$general-margin-bottom;
}
