@forward '../05_objects/objects';
@use '../01_settings/colors' as col;
@use '../01_settings/layout' as lay;

.button{
  padding: lay.$button-padding;
  border-radius: lay.$button-radius;
  background-color: col.$primary;
  color: col.$ligth;
  transition: color 400ms ease-in;
  transition: background 400ms ease-in;

  &:hover, &:focus{
    background: col.$info;
    color: col.$ligth;
  }
}
