@forward '../01_settings/settings';
// f = flex
//g = grid

@mixin flex ($align-items: center, $justify-content: center, $flex-wrap: wrap) {
  display: flex;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin f-center ($align-items: center, $justify-content: center, $flex-wrap: wrap) {
  display: flex;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin g-center ($place-items: center) {
  display: grid;
  place-items: $place-items;
}

@mixin container-height ($height: 100vh){
  height: $height;
}

@mixin container-width ($width: 100%){
  width: $width;
}

