<section class="o-container">
  <h1>Titulo 1</h1>
  <h2>Titulo 2</h2>
  <h3>Titulo 3</h3>
  <h4>Titulo 4</h4>
  <h5>Titulo 5</h5>
  <h6>Titulo 6</h6>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, quaerat!</p>
  <p class="small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, tempora!</p>
  <p class="smaller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, saepe!</p>
  <a>Link</a>
  <button class="button">Button</button>
  <code>let variable: string = 'Hola mundo';</code>
  <input type="text">
</section>
